body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: #EFF3F6;
    height: 100%;
}

input {
    border-radius: 5px;
    transition: 0.33s;
}

button {
    background: #59c2e6;
    border-radius: 5px;
    color: #fff;
    transition: 0.33s;
}

input:hover::-webkit-input-placeholder {
    color: #636363;
}

input:hover::-moz-placeholder {
    color: #636363;
}

input:hover:-ms-input-placeholder {
    color: #636363;
}

input:hover {
    transition: 0.33s;
    background: #AEB5BB;
}

button:hover {
    background: #6a9fc3;
    transition: 0.33s
}

.header {
    height: 60px;
}

.heading {
    background: white;
    height: 60px;
}

.logo-place{
    height: 60px;
    background: #354556;
    color: #ffffff;
}

.logo-name {
    height: 50%;
    margin-top: 15px;
    text-align: center;
}

.aside {
    padding: 0;
    height: 100%;
    background: #4F5F6F;
    position: absolute;
}

.heading-name {
    float: left;
    height: 50%;
    font-weight: 900;
    margin: 15px 0 0 8%;
}

.search-place {
    height: 50%;
    margin: 12px 0 0 30%;
}

.navigation {
    width: 100%;
}

.navItem {
    width: 100%;
    display: block;
    margin: 7% 0 0 15%;
    font-weight: 300;
    color: #AEB5BB;
    transition: 0.33s;
}

.navItem img {
    padding: 0 7%;
    margin-bottom: 4%;
}

.cancelBtn {display: none}

.okayBtn {display: none}

.editInput {display: none}

.template-container {
    margin-top: 1%;
}

.listName {
    font-weight: 600;
}

.warn {
    color:red;
    display: none;
}

.addingWarn {
    color:red;
    display: none;
}